page-pick-address {

  .title{
    text-align: center;
    margin-bottom: 10px;
  }

  .list-end {
    background-color: #eeeeee;
    margin-bottom: 8px;
    border-radius: 10px;

    p{
      color: rgb(46, 44, 44);
    }
  }

}
